* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

*:focus {
  outline: none;
}

a {
  color: unset;
}

header {
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

header div.search-box i {
  margin: 10px;
}

/* Header Styles */

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 90%;
  margin: 0 auto;
}

nav .nav-item {
  color: #fff;
  margin: 0 10px;
}

nav .container {
  display: flex;
}

nav div.app {
  font-size: 0.9rem;
  font-weight: 900;
}

nav div.container {
  font-size: 1.2rem;
  font-weight: 200;
}

header div.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  margin: 0 auto;
}

header img.logo {
  width: 300px;
}

header h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}

/* header content */

header div.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 70%;
  border-radius: 10px;
  /* font-size: 1.2rem; */
}

header div.search-box div.select i {
  color: #f57082;
}

header div.search-box div.input {
  color: #828282b7;
}

header div.search-box div.separator {
  height: 60%;
  background-color: #8282829b;
  width: 2px;
  margin-left: 0;
  margin-right: 0;
}

header div.search-box div.input {
  flex-grow: 80;
  margin: 0 10px;
}

header div.search-box div.input input {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 20px;
}

header div.search-box select {
  font-size: 1rem;
}

div.search-box div {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 50px;
}

div.search-box div.select {
  margin: 0 20px;
}

header div.search-box div.select {
  font-size: 1rem;
}

/* Nearby Section */
section.nearby {
  min-height: 40vh;
}

section.nearby div.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

section.nearby div.container h3 {
  font-size: 2.2rem;
  font-weight: unset;
}

section.nearby div.box {
  max-width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section.nearby div.box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

/* App section */

section.app{
    min-height: 300px;
    background: #fefbf6;
}

section.app div.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.app div.container img{
    max-width: 300px;
    display: block;
}

section.app div.container div.form{
    max-width: 485px;
}

section.app div.container div.form h1{
    font-size: 3rem;
}

section.app div.container div.form small{
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
    color: #393737;
    margin: 20px 0;
}

/* Radio button styles */

/* --------------------- */

section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

section.app div.input input{
    flex-grow: 70;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 5px;
    height: 100%;
}

section.app div.input button{
    height: 50px;
    background-color: #ED5A6B;
    padding:0 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

section.app div.form div.download {
    margin: 20px 0;
    font-weight: 100;
    color: grey;
}

section.app div.form div.download div{
   margin: 5px; 
}

section.app div.form div.download div img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px;
}

section.app div.form div.download small{
    margin: 10px 0 5px 0;
}

section.options{
    height: 70vh;
}

section.options div.container{
    width: 90%;
    margin: 30px auto;
}

section.options div.container h2{
    font-size: 2rem;
}

section.options div.container h3{
    font-size: 1.6rem;
    color: rgb(94, 91, 91);
}

section.options div.container div{
    margin: 40px 0;
}

section.options div.container div ul{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section.options div.container div ul li{
    margin: 3px 10px;
    color: grey;
    font-size: 1.1rem;
    font-weight: 100;
}

/* Footer */
footer{
  height: 60vh;
  background-color: #ebe5e5;
}

footer div.footer-navbar{
  display: flex;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

footer div.footer-navbar img{
  max-width: 200px;
  max-height: 50px;
}

footer div.footer-navbar div img{
  max-width: 150px;
}

footer div.lists{
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin: 40px auto;
  flex-wrap: wrap;
}
footer div.lists ul li.heading{
  font-weight: bold;
  margin: 20px 0;
}

footer div.lists ul li{
  list-style-type: none;
  margin: 5px 0;
  color: #393737;
  line-height: 1.5rem;
}

footer ul ul.nested-ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer div.credits{
  display: flex;
  justify-content: center;
  align-items: center;
}